<div ng-controller="addPOICtrl" >

   <!-- Aggiunge immagine del POI -->
      <div id="addPoiId" ng-click="choosePhoto()" class="sharedEventIcon">
        <i ng-show="imgURI == undefined" class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        <img class="sharedEventIcon" ng-show="imgURI !== undefined" src="{{imgURI}}" width="100%" height="100%" style="vertical-align: middle;"/>
      </div>
      <!--Scatta foto del POI -->
      <button type="submit" ng-click="takePhoto()"  id="takePhoto" class="button button-calm  button-block icon ion-camera"></button>

      <form style="margin-top: 5%" id="addPoi-form3" ng-class="{'submitted':submitted}" name="addPoiForm" novalidate>
        <label style="border-radius: 5px 5px 0 0;" class="item item-input form-transparent" id="addPoi-input7" name="poiName">
          <span class="input-label">Nome del POI:</span>
          <input type="text" name="namePoi" ng-model="newPoi.name" required placeholder="Nome POI">
        </label>

        <label class="item item-input form-transparent" id="addPoi-textarea2" name="description">
          <span class="input-label">Description:</span>
          <input type="text" name="descriptionPoi" ng-model="newPoi.description" placeholder="(optional)">
        </label>
        <label style="border-radius: 5px 5px 0 0;" class="item item-input form-transparent" id="addPoi-input8" name="poiCoordinate">
          <span class="input-label">Coordinate</span>
          <input ng-readonly="true" type="text" name="coordinate"
                 ng-model="newPoi.coordinate" value="{{newPoi.coordinate}}">
        </label>

      </form>
  </div>
