<ion-view ng-controller="cercaPercorsoCtrl" title="Percorso" id="page9">
  <ion-header-bar>
    <button class = "button button-icon icon ion-close-round assertive noBorder" ng-click = "closeModal()"></button>
  </ion-header-bar>

  <ion-content>
    <ion-segment ng-model="categories" full="true" class="menuA" positive>
      <ion-segment-button value="searchPath">
        <span class="text">Cerca Percorso</span>
      </ion-segment-button>
      <ion-segment-button value="myPath" ng-click="visualizzaIMieiPercorsi()">
        <span class="text">I miei Percorsi</span>
      </ion-segment-button>
    </ion-segment>

    <!-- Contenuto barra -->
    <div ng-switch="categories">
      <!-- Contenuto Cerca Percorso -->
      <div ng-switch-when="searchPath" class="menuB">
        <ion-segment ng-model="cercaTipologie" full="true" class="corpoMenu" Balanced>
           <ion-segment-button value="cercaPOI">
                <span class="text">Per POI</span>
           </ion-segment-button>
           <ion-segment-button value="cercaNomePath">
                <span class="text">Per Percorso</span>
           </ion-segment-button>
        </ion-segment>

        <div ng-switch="cercaTipologie">

              <div ng-switch-when="cercaPOI">
                <!-- ricerca per nome del poi-->
                <!-- nomePoi usato sotto per filter -->
                <ion-item class="range range-positive noBorder" id="difficoltaPOIRange">
                    <span><b>Difficoltà:</b></span>
                  <input id="swipeDifficolta" type="range" value="1" min="0" max="3" step="1" ng-model="difficolta">
                   <i id="semaforo" ng-if="difficolta == 0" style="font-size: 40px;" class="icon ion-more"></i>
                   <i id="semaforo" ng-if="difficolta == 1" style="font-size: 40px; color:green;" class="icon ion-ios-star-outline"></i>
                   <i id="semaforo" ng-if="difficolta == 2" style="font-size: 40px; color:yellow;" class="icon ion-ios-star-half"></i>
                   <i id="semaforo" ng-if="difficolta == 3" style="font-size: 40px; color:red;" class="icon ion-ios-star"></i>
                  <!--<span>{{slideChange(difficolta)}}</span>-->
                </ion-item>
                <!-- ricerca per nome del poi nomePoi usato sotto per filter -->
                <input type="text" placeholder="Ricerca Percorso per POI" ng-model="nomePOI">

                <ion-list id="searchPOI-list">
                   <ion-item class="item-icon-right positive" id="searchPOI-item"
                          ng-repeat="poi in poiList | filter:{nom_poi:nomePOI, tipo_perc : slideChange(difficolta)}"
                          ng-click="visualizzaPOI(poi,null,poi.tipo_perc)">{{poi.nom_poi}}</ion-item>
                </ion-list>
              </div>

              <div ng-switch-when="cercaNomePath">
                <ion-item style="border-radius: 0 0 5px 5px;" class="range range-positive" id="difficoltaPathRange">
                  <span>Difficoltà:</span>
                  <input type="range" value="0" min="0" max="3" step="1"
                         ng-model="difficolta">
                  <span>{{slideChange(difficolta)}}</span>
                </ion-item>
                <!-- ricerca per nome del poi nomePath usato sotto per filter -->
                <input type="text" placeholder="Ricerca Percorso per Percorso" ng-model="nomePath">
                <ion-list id="searchPath-list">
                  <ion-item class="item-icon-right positive" id="searchPath-item"
                            ng-repeat="path in pathList | filter:{percorso:nomePath, tipo_perc : slideChange(difficolta)}"
                            ng-click="visualizzaPercorso(path,path.tipo_perc)">{{path.percorso}}  {{path.tipo_perc}}</ion-item>
                </ion-list>
              </div>
            </div>
      </div>

      <!-- Contenuto I miei Percorsi -->
      <ion-list ng-switch-when="myPath">
        <ion-list id="percorsoMyPath-list" class="list">
          <ion-item class="listItem" id="home-list-item9"
                    ng-click="goToMyPersonalPath('{{path}}')"
                    ng-repeat="path in myPathList">
            <!--<img src="{{path.src}}">-->
            <h1>{{path.percorso}}</h1>
            <h2  ng-class="{'color-green': path.tipo_perc == 'Turistico', 'color-yellow': path.tipo_perc == 'Escursionistico', 'color-red': path.tipo_perc == 'Escursionistico per esperti'}">{{path.tipo_perc}}</h2>
            <h3>Numero POI aggiunti: {{path.num_poi_add}}</h3>

            <div style="color:#565656; font-size:0.8em; margin-bottom: -10px; white-space:normal;">{{path.description}} </div>
            <ion-option-button style="border-radius:5px;font-size:1.3em;" class="button-assertive ion-minus-circled"
                               ng-click="deletePath()" ></ion-option-button>
            <ion-option-button class="button-positive"
                               ng-click="editPath()" >Modifica</ion-option-button>
          </ion-item>
        </ion-list>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
