<ion-view ng-controller="cercaPercorsoCtrl" title="Percorso" hide-back-button="true" id="page9">
  <ion-header-bar>
    <button class = "button icon icon-left ion-ios-close-outline" ng-click = "closeModal()">Close Modal</button>
  </ion-header-bar>

  <ion-content>
    <!-- Barra superiore: CercaPercorso - Imiei Percorsi  -->
    <ion-segment ng-model="categories" full="true"  assertive>
      <ion-segment-button value="searchPath" class="icon ion-search">
        Cerca Percorso
      </ion-segment-button>
      <ion-segment-button value="myPath" ng-click="visualizzaIMieiPercorsi()">
        I miei Percorsi
      </ion-segment-button>
      <ion-segment-button value="animation">
        Animations
      </ion-segment-button>
    </ion-segment>

    <!-- Contenuto barra -->
    <div ng-switch="categories">
      <!-- Contenuto Cerca Percorso -->
      <div ng-switch-when="searchPath">
        <ion-segment ng-model="cercaTipologie" full="true"  assertive>
           <ion-segment-button value="cercaPOI">
                Cerca per POI
           </ion-segment-button>
           <ion-segment-button value="cercaNomePath">
                Cerca per Nome Percorso
           </ion-segment-button>
        </ion-segment>

        <div ng-switch="cercaTipologie">

              <div ng-switch-when="cercaPOI">
                <!-- ricerca per nome del poi-->
                <!-- nomePoi usato sotto per filter -->
                <ion-item class="range range-positive" id="difficoltaPOIRange">
                  <span>Difficoltà:</span>
                  <input type="range" value="0" min="0" max="3" step="1"
                         ng-model="difficolta">
                  <span>{{slideChange(difficolta)}}</span>
                </ion-item>
                <!-- ricerca per nome del poi nomePoi usato sotto per filter -->
                <input type="text" placeholder="Ricerca Percorso per POI" ng-model="nomePOI">

                <ion-list id="searchPOI-list">
                   <ion-item class="item-icon-right positive" id="searchPOI-item"
                          ng-repeat="poi in poiList | filter:{nom_poi:nomePOI, tipo_perc : slideChange(difficolta)}"
                          ng-click="visualizzaPOI(poi,null,poi.tipo_perc)">{{poi.nom_poi}}</ion-item>
                </ion-list>
              </div>

              <div ng-switch-when="cercaNomePath">
                <ion-item style="border-radius: 0 0 5px 5px;" class="range range-positive" id="difficoltaPathRange">
                  <span>Difficoltà:</span>
                  <input type="range" value="0" min="0" max="3" step="1"
                         ng-model="difficolta">
                  <span>{{slideChange(difficolta)}}</span>
                </ion-item>
                <!-- ricerca per nome del poi nomePath usato sotto per filter -->
                <input type="text" placeholder="Ricerca Percorso per Percorso" ng-model="nomePath">
                <ion-list id="searchPath-list">
                  <ion-item class="item-icon-right positive" id="searchPath-item"
                            ng-repeat="path in pathList | filter:{percorso:nomePath, tipo_perc : slideChange(difficolta)}"
                            ng-click="visualizzaPercorso(path,path.tipo_perc)">{{path.percorso}}  {{path.tipo_perc}}</ion-item>
                </ion-list>
              </div>
            </div>
      </div>

      <!-- Contenuto I miei Percorsi -->
      <ion-list ng-switch-when="myPath">
        <ion-list id="percorsoMyPath-list" class="list">
          <ion-item class="listItem" id="home-list-item9"
                    ng-click="goToMyPersonalPath('{{path}}')"
                    ng-repeat="path in myPathList">
            <!--<img src="{{path.src}}">-->
            <h1>{{path.percorso}}</h1>
            <h2  ng-class="{'color-green': path.tipo_perc == 'Turistico', 'color-yellow': path.tipo_perc == 'Escursionistico', 'color-red': path.tipo_perc == 'Escursionistico per esperti'}">{{path.tipo_perc}}</h2>
            <h3>Numero POI aggiunti: {{path.num_poi_add}}</h3>

            <div style="color:#565656; font-size:0.8em; margin-bottom: -10px; white-space:normal;">{{path.description}} </div>
            <ion-option-button style="border-radius:5px;font-size:1.3em;" class="button-assertive ion-minus-circled"
                               ng-click="deletePath()" ></ion-option-button>
            <ion-option-button class="button-positive"
                               ng-click="editPath()" >Modifica</ion-option-button>
          </ion-item>
        </ion-list>
      </ion-list>

      <!-- Contenuto addPOI -->
      <ion-list ng-switch-when="animation">
        <ion-item>
          <button id="a-button53" class="button button-positive button-block icon-search"
                  ng-click="removeLayer()">Cerca</button>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
