<ion-view ng-controller="cercaPercorsoCtrl" title="Percorso" id="page9">
  <ion-header-bar>
    <button id="close" class = "button button-icon icon ion-close-round assertive noBorder" ng-click = "closeModal()"></button>
  </ion-header-bar>

  <ion-content>
    <ion-segment ng-model="categories" full="true" class="menuA" positive>
      <ion-segment-button value="searchPath" style="padding:4px!important;">
        <span class="text">Cerca Percorso</span>
      </ion-segment-button>
      <ion-segment-button value="myPath" style="padding:4px!important;" ng-click="visualizzaListaIMieiPercorsi()">
        <span class="text">I miei Percorsi</span>
      </ion-segment-button>
    </ion-segment>

    <!-- Contenuto barra -->
    <div ng-switch="categories">
        <!-- Contenuto Cerca Percorso -->
        <div ng-switch-when="searchPath" class="menuB">
        <ion-segment ng-model="cercaTipologie" full="true" class="corpoMenu" Balanced>
           <ion-segment-button value="cercaPOI" style="padding:4px!important;">
                <span class="text">Per POI</span>
           </ion-segment-button>
           <ion-segment-button value="cercaNomePath" style="padding:4px!important;">
                <span class="text">Per Percorso</span>
           </ion-segment-button>
        </ion-segment>

        <div ng-switch="cercaTipologie">
            <div ng-switch-when="cercaPOI">
                <!-- ricerca per nome del poi-->
                <!-- nomePoi usato sotto per filter -->
                <ion-item class="range range-positive noBorder">
                    <span><b>Difficoltà:</b></span>
                  <input type="range" min="0" max="3" step="1" ng-model="difficoltaPOI">
                   <img src="img/0.png" class="scala" ng-if="difficoltaPOI == 0" height="35"></img>
                   <img src="img/1.png" class="scala" ng-if="difficoltaPOI == 1" height="35"></img>
                   <img src="img/2.png" class="scala" ng-if="difficoltaPOI == 2" height="35"></img>
                   <img src="img/3.png" class="scala" ng-if="difficoltaPOI == 3" height="35"></img>
                   <span ng-show="false">{{slideChange(difficoltaPOI)}}</span>
                </ion-item>
                <!-- ricerca per nome del poi nomePoi usato sotto per filter -->
                <label class="item item-input ricerche">
                    <i style="font-size: 24px;" class="icon ion-search"></i><span><b> POI:</b></span>
                    <input type="text" placeholder="Inserisci nome" ng-model="nomePOI">
                </label>


                <ion-list id="searchPOI-list">
                   <ion-item class="item-icon-right positive" id="searchPOI-item"
                          ng-repeat="poi in poiList | filter: {nom_poi:nomePOI} | filter:{cod_tipo : slideChange(difficolta)}:true "
                          ng-click="visualizzaPOI(poi,null,poi.cod_tipo,'icon/geosec.png')">{{poi.nom_poi}}</ion-item>
                </ion-list>
              </div>

              <div ng-switch-when="cercaNomePath">

                <ion-item class="range range-positive noBorder">
                    <span><b>Difficoltà:</b></span>
                  <input type="range" min="0" max="3" step="1" ng-model="difficoltaPATH">
                   <img src="img/0.png" class="scala" ng-if="difficoltaPATH == 0" height="35"></img>
                   <img src="img/1.png" class="scala" ng-if="difficoltaPATH == 1" height="35"></img>
                   <img src="img/2.png" class="scala" ng-if="difficoltaPATH == 2" height="35"></img>
                   <img src="img/3.png" class="scala" ng-if="difficoltaPATH == 3" height="35"></img>
                   <span ng-show="false">{{slideChange(difficoltaPATH)}}</span>
                </ion-item>
                <!-- ricerca per nome del poi nomePath usato sotto per filter -->
                <label class="item item-input ricerche">
                    <i style="font-size: 24px;" class="icon ion-search"></i><span><b> Percorso:</b></span>
                    <input type="text" placeholder="Inserisci nome" ng-model="nomePath">
                </label>

                <ion-list id="searchPath-list">
                  <ion-item class="item-icon-right positive" id="searchPath-item"
                            ng-repeat="path in pathList | filter:{percorso:nomePath} | filter:{cod_tipo : slideChange(difficolta)}:true"
                            ng-click="visualizzaPercorso(path,path.cod_tipo)">{{path.percorso}}</ion-item>
                </ion-list>
              </div>
            </div>
      </div>

      <!-- Contenuto I miei Percorsi -->
      <ion-list ng-switch-when="myPath">
        <ion-list id="percorsoMyPath-list" class="list">
          <ion-item class="listItem" id="home-list-item9" ng-click="goToMyPersonalPath('{{path}}')" ng-repeat="path in myPathList">
                <span class="textMyPersonali">{{path.percorso}}</span>
                <div style="margin-top: 9px;">
                    <span>
                        <img src="img/1.png" class="mySc" ng-if="path.cod_tipo == 'T'" height="28"></img>
                        <img src="img/2.png" class="mySsc" ng-if="path.cod_tipo == 'E'" height="28"></img>
                        <img src="img/3.png" class="mySca" ng-if="path.cod_tipo == 'EE'" height="28"></img>
                    </span>
                    <span id="feedbackPersonali">
                        <i class="ion-pin pin"></i>
                        <span class="textMyPersonali" style="color:black;">{{path.num_poi_add}}</span>
                    </span>
                </div>
            <ion-option-button style="border-radius:5px;font-size:1.3em;" class="button-assertive ion-close" ng-click="deletePath()" ></ion-option-button>
            <!-- <ion-option-button class="button-positive" ng-click="editPath()" >Modifica</ion-option-button> -->
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
