<ion-view title="Home" id="page12">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <div id="home-button-bar12" class="button-bar">
      <button id="home-button59" class="button button-positive  button-block icon ion-waterdrop"></button>
      <button id="home-button60" class="button button-positive  button-block icon ion-android-restaurant"></button>
      <button id="home-button61" class="button button-positive  button-block icon ion-ios-home"></button>
      <button id="home-button62" class="button button-positive  button-block icon ion-flag"></button>
    </div>
    <div class="spacer" style="width: 300px; height: 365px;"></div>
    <div id="home-button-bar13" class="button-bar">
      <a ui-sref="cercaPercorso" id="home-button64" class="button button-positive  button-block icon ion-map"></a>
      <button id="home-button9" class="button button-positive  button-block icon ion-search"></button>
      <button id="home-button65" class="button button-positive  button-block icon ion-android-locate"></button>
    </div>
  </ion-content>
</ion-view>