<ion-view title="Home" hide-back-button="true" id="page12">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <div id="home-button-bar12" class="button-bar">
      <button id="home-button16" class="button button-positive  button-block icon ion-home"></button>
      <button id="home-button59" class="button button-positive  button-block icon ion-waterdrop"></button>
      <button id="home-button60" class="button button-positive  button-block icon ion-android-restaurant"></button>
      <button id="home-button61" class="button button-positive  button-block icon ion-flag"></button>
    </div>
    <div id="map" style="height: 100%"></div>

  </ion-content>
</ion-view>
