<ion-view title="Home" hide-nav-bar="true" id="page12">
    <ion-content id="home" padding="false" class=" manual-remove-top-padding" scroll="false">
        <div id="map" class="map"></div>
        <div id="barra_Poi" class="button-bar">
            <button class="noBorder button button-positive  button-block icon ion-location" ng-click="poiGeosec()"></button>
            <button class="noBorder button button-positive  button-block icon ion-ios-partlysunny"></button>
            <button class="noBorder button button-positive  button-block icon ion-leaf"></button>
            <button class="noBorder button button-positive  button-block icon ion-ios-home"></button>
            <button class="noBorder button button-positive  button-block icon ion-pin"></button>

        </div>


            <div class="range_Map">
                <ion-item style="background: transparent;" class="noBorder range range-calm">
                     <!--<input id="swipe" type="range" value="0" min="0" max="100" step="1"> -->
                      <input id="swipe" value="100" type="range">
                </ion-item>
                <div class="back_range range_Map"></div>
            </div>


      <ion-floating-menu   ng-show="path != null">
        <ion-floating-item icon="ion-plus" ng-click="addPOI()" text="aggiungi POI"></ion-floating-item>
        <ion-floating-item icon="ion-close" ng-click="exit()" text="Esci"></ion-floating-item>
      </ion-floating-menu>



        <!-- bottone per la geolocalizzazione dell'utente <button id="geolocate" style="height: 40px">Geolocate Me!</button> -->

        <button id="menu_home" class = "button button-positive  button-block icon ion-chevron-up" ng-click = "openModal()"></button>

    </ion-content>
</ion-view>
