<ion-view title="I miei percorsi" hide-back-button="true" id="page7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-close"></button>
  </ion-nav-buttons>

  <!--navigation n'copp o sit-->


  <ion-content padding="true" class="has-header">
    <ion-list id="iMieiPercorsi-list8">
      <ion-item class="item-thumbnail-left" id="iMieiPercorsi-list-item36" ui-sref="nomePercorsoDinamico">
        <h2>Percorso</h2>
        <ion-option-button class="button-assertive">x</ion-option-button>
        <ion-option-button class="button-positive">Modifica</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
