<ion-view title="Nome Percorso" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="nomePercorso-list9">
      <ion-item class="item-thumbnail-left" id="nomePercorso-list-item37">
        <h2>POI</h2>
        <ion-option-button class="button-assertive">x</ion-option-button>
        <ion-option-button class="button-positive">Modifica</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>