<ion-view title="Percorso" id="page9">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-close"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <a ui-sref="addPOI" id="percorso-button66" style="border-radius:30px 30px 30px 30px;" class="button button-positive button-large icon ion-android-add">FAB</a>
  </ion-content>
</ion-view>