<ion-view ng-controller="percorsoCtrl" title="Percorso" hide-back-button="true" id="page9">
  <ion-header-bar>
    <button class = "button icon icon-left ion-ios-close-outline" ng-click = "closeModal()">Close Modal</button>
  </ion-header-bar>

  <ion-content>

  </ion-content>
</ion-view>

$$scope.showPopup = function() {
$scope.data = {}
$scope.showError = false;
// An elaborate, custom popup
var myPopup = $ionicPopup.show({
templateUrl: 'popup-template.html',
title: 'Enter Wi-Fi Password',
subTitle: 'Please use normal things',
scope: $scope,
buttons: [
{
text: '<b>Save</b>',
type: 'button-positive',
attr: 'data-ng-disabled="!data.wifi"',
onTap: function(e) {
if (!$scope.data.wifi) {
//don't allow the user to close unless he enters wifi password
e.preventDefault();
$scope.showError = true;
} else {
return $scope.data.wifi;
}
}
},
]
});
myPopup.then(function(res) {
console.log('Tapped!', res);
$scope.showError = false;
});
/* $timeout(function() {
myPopup.close(); //close the popup after 3 seconds for some reason
}, 3000);*/
};
