<ion-view title="Search Path" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="searchPath-button-bar7" class="button-bar">
      <button id="searchPath-button39" style="font-weight:500;" class="button button-calm  button-block icon ion-android-people"></button>
      <button id="searchPath-button40" class="button button-positive  button-block icon ion-android-stopwatch"></button>
      <button id="searchPath-button41" class="button button-positive  button-block icon ion-arrow-graph-up-right"></button>
      <button id="searchPath-button42" class="button button-positive  button-block icon ion-search"></button>
    </div>
    <form id="searchPath-form11" class="list">
      <label class="item item-input" id="searchPath-input8">
        <input type="text" placeholder="Search Path">
      </label>
      <ion-item class="range range-positive" id="searchPath-range2">Difficulty
        <input type="range" value="1" min="1" max="3" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>