.submitted .ng-invalid{
  border: 1px solid red;
}
.popup-container .popup {
  width: 350px;
}
#home{
    position: fixed;
    height:100%;
    width: 100%;
}
#map{
    position: absolute;
    z-index: 0;
    height:100%;
    width: 100%;
}
#barra_Poi{
    position: absolute;
    left: 0px;
    top: -9px;
    right: 0px;
    z-index: 1;
}
#menu_home{
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: -11px;
}
.noBorder{
    border: none!important;
}
.range_Map{
    position: absolute;
    z-index: 2;
    left: -5%;
    right: -5%;
    bottom: 6%;
    width: 110%;
}
.back_range{
    position: absolute;
    z-index: 1;
    height: 24%;
    bottom: 37.5%;
    background: white;
    opacity: 0.5;
}

