.submitted .ng-invalid{
  border: 1px solid red;
}

.popup-container .popup {
  width: 350px;
}
#home{
    position: fixed;
    height:100%;
    width: 100%;
}
#map{
    position: absolute;
    z-index: 0;
    height:100%;
    width: 100%;
}
#barra_Poi{
    position: absolute;
    left: 0px;
    top: -9px;
    right: 0px;
    z-index: 1;
}
#menu_home{
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: -11px;
}
.noBorder{
    border: none!important;
}
.range_Map{
    position: absolute;
    z-index: 2;
    left: -5%;
    right: -5%;
    bottom: 6%;
    width: 110%;
}
.back_range{
    position: absolute;
    z-index: 1;
    height: 24%;
    bottom: 37.5%;
    background: white;
    opacity: 0.5;
}
#cera{
    position: fixed;
    height:100%;
    width: 100%;
}
.menuA{
    margin-bottom: 13px;
}
.text{
    font-size: 16px;
    font-weight: bold;
    padding: 5px!important;
}
.menuB{
   padding-left: 1%;
   padding-right: 1%;
}
.corpoMenu{
    margin-bottom: 12px;
    padding-left: 3%;
    padding-right: 3%;
}
.scala{
    padding-left: 2px;
    margin-right: 2px;
    margin-top: -7px;
}
.ricerche{
    border: none!important;
    margin-top: -2px!important;
    margin-bottom: 8px!important;
}
.ricerche span{
    margin-right: 15px;
    margin-left: 10px;
}
ul#ion-segment li{
    max-height: 34px!important;
    min-height: 34px!important;
}
.attivo{
    background-color: #11C1F3!important;
}
#resetPosizione{
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50px;
    max-height: 30px!important;
    max-width: 30px!important;
    background-color: #11C1F3;
    opacity: 0.8;
    border-radius: 12px;
    display: none;
}
#resetPosizione:active {
    background-color: #387EF5;
    opacity: 0.85;
}
#close{
    position: absolute;
    right: 8px;
    top: 7px;
}
.textMyPersonali{
    font-size: 18px;
    font-weight: bold;
    color: #387EF5;
}
.pin{
    font-size: 25px;
    color:red;
}
#feedbackPersonali{
    position: absolute;
}
#feedbackPersonali:nth-child(2){
    right: 5%;
}
#cambiaPercorso{
    position: absolute;
    z-index: 2;
    right: 8px;
    bottom: 60px;
    max-height: 30px!important;
    max-width: 30px!important;
    background-color: red;
    opacity: 0.85;
    border-radius: 12px;
}
#cambiaPercorso:active {
    background-color: lightcoral;
}
#avviaPercorso{
    position: absolute;
    z-index: 2;
    right: 8px;
    bottom: 115px;
    max-height: 30px!important;
    max-width: 30px!important;
    background-color: green;
    opacity: 0.85;
    border-radius: 12px;    
}
#avviaPercorso:active {
    background-color: lightgreen;
}
#loading{
    position:absolute; 
    height: auto;
    width: 100%;
    top: 30%;
    left: 0%;
    text-align: center;
}