.submitted .ng-invalid{
  border: 1px solid;
  border-color: lightcoral;
}
.popup-container .popup {
  width: 350px;
}
#home{
    position: fixed;
    height:100%;   
    width: 100%;
}
#map{
    position: absolute;
    z-index: 0;
    height:100%;   
    width: 100%;
}
#barra_Poi{
    position: absolute;
    left: 0px;
    top: -9px;
    right: 0px;
    z-index: 1;
}
#menu_home{
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px; 
    bottom: -11px;
}
.noBorder{
    border: none!important;
}

